[MailConnection]
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=user@yandex.ru
EMAIL_HOST_PASSWORD=Qwerty123!
DEFAULT_FROM_EMAIL=user@yandex.ru

[DockerComposeCreatesuperuserConnecttion]
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
