<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trello Clone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #0079BF;
        }
        .navbar-brand {
            color: white;
        }
        .navbar-nav .nav-link {
            color: white;
        }
        .btn-get-trello {
            background-color: #0079BF;
            color: white;
        }
        .container-custom {
            max-width: 1200px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-custom">
            <a class="navbar-brand" href="#">Trello</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto nav-left">
                    <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Solutions</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Plans</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
                </ul>
                <ul class="navbar-nav nav-right">
                    {% if user.is_authenticated %}
                        <!-- If the user is logged in, we show the exit button -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Log out</a></li>
                    {% else %}
                        <!-- If the user is not logged in, we show links to log in and register -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Log in</a></li>
                        <li class="nav-item"><a class="btn btn-get-trello" href="{% url 'account_signup' %}">Get Trello for free</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-custom">
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
